.form-wrapper{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form-wrapper input{
    margin-top: 10px ;
    width: 50%;
    height: 40px;
    padding: 5px;
}
.form-wrapper button{
    margin: 10px;
    padding: 5px;
    background-color: teal;
    color: snow;
    border: 1px solid snow;
    border-radius: 10px;
}